@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color:whitesmoke;
    color: #000000;
    height:100%;
    
}
.html_content_body{
    padding-bottom: 2vh;
    margin-top: 8vh;
    height:90vh;
    overflow-y: scroll;
 
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #d31f33;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.text1 {
    margin-left: 50%;
}
.user {
    margin-left: 17%;
}
a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:active {
    position: relative;
    color: #d31f33
}

p a:hover {
    color: #FFFFFF;
    background: #d31f33
}

p a:hover::after {
    opacity: 0.2
}


h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fill_height {
    height: 100%
}

.super_container {
    width: 100%;
    overflow: hidden
}

.prlx_parent {
    overflow: hidden
}

.prlx {
    height: 130% !important
}

.nopadding {
    padding: 0px !important
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.header {
    
    position:fixed;
    width: 100%;
    z-index: 1;
    /* height:8vh; */
    background-color:white !important;
}


.header.scrolled .header_main {
    display: none
}

.header_main_item {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.logo a {
    font-size: 36px;
    font-weight: 500;
    color:#d31f33
}
.logo img{
    line-height: 1.5rem;
    width:7rem;
    height: 2.5rem;
}
header{
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}

.header_search{
    /* margin-top:2rem; */
    line-height: 1rem;
}
.header_btn{
    font-size:1.8rem !important;
    color:grey;
}
select {
    display: inline;
    border: 0;
    width: auto;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

select:hover {
    cursor: pointer
}

select option {
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none
}

.wishlist_cart {
   line-height:39px;   

}
.nav_link{
    margin:auto !important;
    display: block !important;
    text-align: center !important;
 
}
@media only screen and (max-width: 500px) {
    .header{
       bottom: 0;
       position: fixed;
       z-index: 1;
     
    }
.logo-div{
        display: none;
    }
    .html_content_body{
        margin-top: 2%;
    }
    .nav_link{
        margin:auto !important;
        line-height: 50px;
        display: block !important;
        text-align: center !important;
         
        
    }
    .offset-1 {
        margin-left:0px !important;
    }
}
.wishlist {
    margin-right: 50px
}

.wishlist_icon img {
    width: 100%
}

.wishlist_content {
    margin-left: 14px
}

.wishlist_text a {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.wishlist_text a:hover {
    color: #0e8ce4
}

.wishlist_count {
    margin-top: -2px;
   
    font-size: 14px
}

.cart_count {
    position: absolute;
    bottom: -1px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: #0e8ce4;
    border-radius: 50%;
    text-align: center
}

.cart_count span {
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px)
}

.cart_icon img {
    width: 100%
}

.cart_content {
    margin-left: 28px
}

.cart_text a {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.cart_text a:hover {
    color: #0e8ce4
}

.cart_price {
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px
}

.main_nav {
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF
}

.header.scrolled .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.main_nav_content {
    width: 100%;
    height: 60px
}

.cat_menu_container {
    width: 293px;
    height: 100%;
    background:whitesmoke;
    padding-left: 35px;
    cursor: pointer;
    z-index: 1
}

.cat_menu_title {
    height: 100%
}

.cat_burger {
    width: 18px;
    height: 14px
}

.cat_burger span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF
}

.cat_burger span:nth-child(2) {
    top: 6px
}

.cat_burger span:nth-child(3) {
    top: 12px
}

.cat_menu_text {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 20px
}

.cat_menu_container ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease
}

.cat_menu_container>ul {
    padding-top: 13px
}

.cat_menu_container:hover .cat_menu {
    visibility: visible;
    opacity: 1
}

.cat_menu li {
    display: block;
    position: relative;
    width: auto;
    height: 46px;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 35px;
    padding-right: 30px;
    white-space: nowrap
}

.cat_menu li.hassubs>a i {
    display: block
}

.cat_menu li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.cat_menu li a:hover {
    color: #0e8ce4
}

.cat_menu li a i {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 12px
}

.cat_menu li ul {
    display: block;
    position: absolute;
    top: 35px;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1)
}



@media only screen and (max-width: 767px) {


    .page_menu_search {
        display: block
    }

    .main_nav {
        margin-top: 0px
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px
    }

    p {
        font-size: 13px
    }

    .top_bar {
        display: none
    }

    .logo_container,
    .wishlist_cart {
        line-height: 27px;
    }

    .logo a {
        font-size: 24px
    }

    .cat_burger {
        width: 16px;
        height: 12px
    }

    .cat_burger span:nth-child(2) {
        top: 5px
    }

    .cat_burger span:nth-child(3) {
        top: 10px
    }

    .menu_trigger_text {
        font-size: 13px;
        margin-right: 10px
    }

    .wishlist {
        margin-right:3px
    }

    .wishlist_content {
        margin-left: 2px
    }

    .wishlist_text {
        display: none
    }

    .cart_text {
        display: none
    }

    .wishlist_text a,
    .cart_text a {
        font-size: 14px
    }

    .wishlist_count,
    .cart_price {
        font-size: 12px
    }


    .cart_icon {
        width: 17px
    }

    .cart_count {
        width: 21px;
        height: 21px
    }

    .cart_count span {
        line-height: 21px
    }

    .top_bar_user {
        margin-left: 0px
    }

    .header_search {
        display: none
    }

    .main_nav {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px
    }

    .main_nav_content {
        height: 35px
    }

    .menu_trigger_container {
        padding-right: 15px
    }

    .page_menu_item>a {
        font-size: 12px
    }

    .page_menu_selection li a {
        font-size: 12px
    }

    .button {
        height: 32px
    }

    .button a {
        font-size: 12px;
        line-height: 32px;
        padding-left: 25px;
        padding-right: 25px
    }
}
.card{
  width:40rem;
  height:max-content !important;
}
.main-profile .card{
    height:20rem !important;

}
.explore_card{
  width:40rem;
  height:40rem;


}
.serach_box{
    border: 1px solid #d5cfcf;
    border-radius: 5px;
    background-color:#fafafa !important;
    margin: 5px;
    overflow: hidden;
    padding: 2px 10px;
}
.search_input{
    padding: 4px;
    outline: none;
    /* width:100%; */
    border:none;
    background-color:#fafafa !important;
    
}
.explore_main{
    border: 1px solid whitesmoke;
    background-color: #d31f33;
    
    width:60%;
}

.explore_header{
    width:40rem;
    height:3rem;
    line-height: 1.5rem;
}
.explore_header .explore_links{
    line-height: 2.5rem;
    color: white;
}
.explore_header .explore_links li{
 /* float: left; */
 display:inline-block;
 margin:auto;

}
.explore_header .explore_links li .links{
    color: white;
}
.card-list-container{
    width:60%;
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    height:100% !important;
    border-radius: 0.5rem;
    /* box-shadow: 1px 1px 2px whitesmoke; */
    margin:10px auto;
    color:#d31f33;
    /* border-bottom: 1px solid black; */
    background-color: white;
}
.card-list-container{
    overflow: hidden;
}
.see_more{
    float: right;
    color: grey;
    cursor: pointer;
}
.card-list{
    text-align: center;
    color: #d31f33;
}
.profile_pick{
  /* border: 1px solid grey; */
  margin-right: 10px;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 5rem;
  color:#d31f33 !important;

}
.card-img-top,.res-img{
  height:100%;
}
.wdt{
    height:32rem ;
    overflow: hidden !important;
}
/* .home-img{
    height:30rem !important;
} */
.post_side_title{
  color: #d31f33;
}
.post-icons{
  float:right;
}
.post-icon{
  margin:1rem;
 
  
}
.wdt{  
    width: 100%  !important;  
}  
.img  
{ 
 width: 100% !important;
}  
@media only screen and (max-width:500px) {
 .explore_main{
     width: 100%;
     overflow: hidden;
     z-index: 1;

 }
 .card-list-container{
     width: 100% !important;
 }
 .explore_header .explore_links li{
    /* float: left; */
    /* display:inline-block; */
    margin:0px 10px !important;
   }

 .card{
   width:100%;
   height: 35rem !important;
  }
  .card-body{
      flex: 0 !important;
  }
  .wdt{  
    width: 100%  !important;  
}  
.card-img-top,.res-img{
    height: 10rem;
}
.img  
{ 
 width: 100% !important; 
} 
}
@media only screen and (min-width:1000px) {

 
  .card{
    width:60%;
    height: 45rem;
   }
   
 }
 .links{
     text-decoration: none;
     color:#d31f33;
     font-size:15px;
 }
 .links:hover{
    color:#d31f33;
 }
 .active{
     font-size: larger;
     color:#d31f33;
 }
 .user_container{
     padding: 1rem;
     position: fixed;
     background-color:white;
     left: 0px;
     top: 0px;
     z-index: 10;
     height:100%;
     /* opacity: 0.5; */
     overflow-y: scroll;
 }
 .user_container .card{
     /* z-index:-1; */
     width: 25%;
     height:max-content !important;
 }
 .user_container input,.user_container select{
    
        background-color: #fafafa;

 }

.kv-avatar {
    display: inline-block;
    border: 3px solid grey;
    width:6rem;
    height: 6rem;
    border-radius: 10rem;
    overflow: hidden;
    margin: auto;
   
}
.kv-avatar img{
    margin: auto;
    width:100%;
    height:100%;
}
.kv-avatar .file-loading {
    /* display: table-cell; */
    display: none;
    width: 213px;
}
 .user_container div .login-title{
     color: rgb(129, 125, 125);
     font-size:1rem;
     width:60%;
     /* justify-content: center; */
     align-items: center;
 }
 #private_data{
    display: none;
    
}
 .login_btn{
     width: 100%;
 }
  .login_with{
     bottom: 0;
     position:absolute;
     width:100%;
     border: 1px solid black;
     
 }
 
 .exit_button{
     /* border: 1px solid black; */
     text-align: right;

 }
 .login_card_img{
     height: 1rem;
 }
 .policy_paragraph{
     font-size: small;
 }
 @media only screen and (max-width:500px) { 
    .wdt{
        height:12rem !important;
    }
    .wdt ,.card-img-top{
        height:15rem !important;
        overflow: hidden !important;
    }
     .user_container{
         overflow: scroll;
       
     }
    .user_container .card{
        z-index:-1;
        /* box-shadow: 2px 3px 20px grey; */
        width: 98%;
        height:max-content !important;
    }
    #private_data{
        display: block !important;
    }
    .main-profile-pick{
        width:5rem;
        height: 5rem;
        border-radius:10rem !important;
      
      
    }
    .main-profile-pick img{
        border-radius:0 !important;
        width: 5rem !important;
        height: 5rem !important;
        
    }
    .profile_title{
        font-size:1rem !important;
    }
    .profile-div{
        border: none;
        /* border-radius: 1rem !important; */

    }
    .following,.followers{
        font-size: smaller;
    }
    .followers h4,.following h4,.following h6, .followers h6{
        margin:0px !important;
        font-size: 12px !important;
    }
     .followers .profile_btn,.following .profile_btn{
         margin:0px !important;
         line-height: normal !important;
         font-size: 8px !important;
     }

 }
 /* //profile page css  */
 .profile-div{
     /* border: 1px solid grey; */
     padding: 1rem;
     height:50vh;
     /* box-shadow: 2px 4px 4px grey; */
    
 }
 .main-profile-pick{
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    /* border:1px solid grey; */
    border-radius: 0rem;

 }
 .main-profile-pick img{
     width:10rem;
     height: 10rem;
     /* overflow: hidden; */
     /* border:1px solid grey; */
     border-radius: 0rem;

 }
 .following,.followers{
     
     text-align: center;
     height: 10rem;
 }
 .following h4,.followers h4{
     line-height: 3rem;

 }
 .profile_title{
     color:#d31f33;
 }
 .profile_btn{
     /* border: 1px solid b/lack; */
     border-radius:5rem;
 }
 .main-profile-pick img{
     width: 10rem;
     height:10rem;
     border-radius: 10rem;
 }
 .profile_links{
     font-size: small;
     width:max-content;
     position:absolute;
     bottom: 0;
 }
 .profile_post_container{
     margin-top: 10rem;
     justify-content: center;
     height:50vh !important;
 }
 .profile_post_container .row .col-md-3{
     text-align: center;

 }
 .profile_post_container .row .links h5{
    color: grey;
    font-size: 15px;
 }
 .post_container{
     /* box-shadow: 1px 2px 3px grey; */
     margin-top:1rem;
 }
 .post_box img{
     border:1px solid grey;
    /* border-radius:1rem; */
    height: 10rem;
    
    
 }
 @media only screen and (max-width:500px) { 
    .profile-div{
        border: 1px solid whitesmoke;
        height: max-content !important;
    }
    .main-profile-pick{
        width: 5rem;
        height: 5rem;
        object-fit: contain;
      
   
    }
    .main-profile-pick img{
        width:0px;
        height:0px;
        /* overflow: hidden; */
        /* border:1px solid grey; */
        border-radius: 0rem;
   
    }
    .following,.followers{
        
        text-align: center;
      
        height: 10rem;
    }
    .profile_links{
        font-size: 8px !important;

    }
    .profile_post_container{
        color:#d31f33 !important;
        font-size: 13px !important;
    }
    .profile_post_container .row .links h5{
        /* color: grey; */
        font-size: 10px !important;
     }
    .profile_btn .mt-5{
        /* border: 1px solid b/lack; */
        text-align: center;
        margin-top: 0px;
    }
    .main-profile-pick img{
        width: 10rem;
        height:10rem;
        border-radius: 10rem;
    }
    
}
/* //comments  */
body {
    background-color: #eee;
    height: 100vh;
    overflow: hidden;
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

.chef-container{
    width:5rem !important;
    height: 5rem !important;
    border:3px solid whitesmoke;
    border-radius:15rem !important;
    overflow: hidden;  
    margin: auto;
  
}
.chef-container img{
    border-radius:0 !important;
    width: 100% !important;
    height: 100% !important;
    
}
.chef-title{
    text-align: center;
    margin: auto;
    font-size: 15px;
}

.loading{
    /* background-color:whitesmoke; */
    /* border: 1px solid black; */
    height: 100vh !important;
    width: 100%;
    position: absolute;

    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pre-loader {
    width: 50%;
    margin: 3% auto;
    display: block;
}

.loader {
   
    border-radius: 50%;
    border:2px solid grey;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    display: inline-block;
    
    position: relative;
    /* top:5rem;                      */
    animation: loader 2s infinite ease;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* edit page  */

.edit_profile_container{
    border: 1px solid whitesmoke;
    background-color: white;
}
.upload_img_btn{
    /* position:fixed; */
    /* top:15rem; */
    width:100%;
    margin: auto;
    z-index: 1;
    opacity: 0.;
    background-color:rgb(105, 104, 104);
    border:none;
    color:white;
    outline: none;

}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.edit_button .btn{
    margin: auto;
}
.edit_form label{
    font-size: 0.9rem;
    color: grey;
    font-weight: bold;
    font-family:sans-serif;
}
.edit_form input,.edit_form textarea,.edit_form select{
    font-weight: bold;
    color: grey;
    font-size: 0.9rem;

    font-family:sans-serif;
}
.res_img .circular{
    border: 2px solid whitesmoke;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.res_img .circular img{
  width: 80px;
  height: 80px;
  /* width: auto; */
  /* height: auto; */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.rating-container .checked{
    color:orange;
}
@media only screen and (max-width:500px) { 
    .chef-container{
        width:3rem !important;
        height: 3rem !important;
        border:3px solid whitesmoke;
        border-radius:15rem !important;
        overflow: hidden;  
        margin: auto;
      
    }
    .chef-container img{
        border-radius:0 !important;
        width: 100% !important;
        height: 100% !important;
        
    }
    .chef-title{
        text-align: center;
        margin: auto;
        font-size: 7px;
    }  
    .card-list h5{
        font-size: 5px !important;
    }
    .card-list .see_more{
        font-size: 8px;
    }
    .loading{
        background-color:whitesmoke;
        opacity: 0.9;
        position: fixed;
        z-index: 10;
        height: 100%;
        width: 100%;
    }
    .loading .loader{
        margin: 25% 32% !important;
    }
    .loader {
   
        border-radius: 50%;
        border-top:10px solid #d31f33;
        border-bottom: 10px solid #d31f33;
        width: 110px;
        height: 110px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      .card-list small{
          font-size: smaller;

      }
}
/* single restaurant page view  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.res-card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

.res-card ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

.res ul li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

.res-card img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.res-badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

.res-badge i {
    font-size: 10px
}

.res-profile-image {
    width: 35px
}

.res-comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.res-comment-profile {
    line-height: 17px
}

.res-date span {
    font-size: 12px
}

.res-p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px
}

.buttons .btn {
    height: 46px
}

.buttons .res-cart {
    border-color: #ff7676;
    color: #ff7676
}

.buttons .res-cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.comment-ratings i {
    color: #f6d151
}
.items{
    border: 1px solid whitesmoke;
}



.store-image {
    width: 42px
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

label.radio .red {
    background-color: red;
    border-color: red
}

label.radio .blue {
    background-color: blue;
    border-color: blue
}

label.radio .green {
    background-color: green;
    border-color: green
}

label.radio .orange {
    background-color: orange;
    border-color: orange
}

label.radio input:checked+span {
    color: #fff;
    position: relative
}

label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}
.add_dip{
    border: 1px solid whitesmoke;
    width:100%;
    padding:1rem;
    background-color: white;


}
.input_box{
    border: 1px solid grey;
    border-radius: 2px;
    background-color: whitesmoke;
    padding: .5rem;

}
#demo-simple-select-required-label{
    /* color: #d31f33; */
    outline: #d31f33;
}
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.category_box{
    /* border: 1px solid black; */
    padding:0.5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 1px whitesmoke;
}  
.category_box .profile_title{
    width: 90% !important;
    
    float: left;
}
.category_box span{
    cursor: pointer;
}
.fa-shopping-cart{
    cursor: pointer;
    font-size: 2rem !important;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }
  
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: -55px;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #575b71;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
    outline: none;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  } 
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #fff;
  }
  @media only screen and (max-width: 500px) {
    .res_btn{
      width: 5rem;
      font-size: .6rem !important;
    }
}
.warnning{
    /* border: 1px solid black; */
    padding: 10px;
    text-align: center;
    color:red;
    border-radius: 10px;
    box-shadow: 2px 2px 2px whitesmoke;
    font-size: smaller;


}
.Cart-Container{

    width: 75%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
   margin: auto;
   }
   .cart-header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .cart-heading{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #2F3841;
   }
   .Action{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }
   .cart-items-container{
       height:80vh;
       /* padding: 1rem; */
   }
   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #202020;
   }
   .subtitle{
    /* line-height: 10px; */
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #909090;
   }
   .btn-danger {
    float: right;
    margin-right: 48px;
    margin-top: -23px;
   }

   /* popup modal */

   .date-picker,
   .guest,
   .time,
   .location {
    width: 94%;
    margin: 5px 0 0px 20px !important;
    flex: 1;
    padding: 10px !important;
    border: 1px solid #dadada;
    background-color: #f5f5f5;
    border-radius: 4px !important;
   }
   .bookatable {
       margin-left: 20px;
   }
   .gowith,
   .description {
    resize: vertical;
    width: 93%;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    }
    input:focus-visible,
    textarea:focus-visible {
        outline: none;
    }
   .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  .done {
    width: 70% !important;
    color: #fff !important;
    padding: 10px 10px !important;
    margin: auto !important;
    border-radius: 50px;
    }
  /* The popup form - hidden by default */
  .form-popup {
   
    z-index: 99;
    position: fixed;
    width: 100%;
  }
  
  /* Add styles to the form container */
  .form-container {
    border: 3px solid #f1f1f1;
    box-shadow: 2px 2px 3px whitesmoke,-2px 2px 3px whitesmoke;
    max-width: 30%;
    margin:1% auto;
    padding:5px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
@media only screen and (max-width:1024px) {
.form-popup {
        width: 100%;
    }
    div.book-table {
        display: block !important;
    }
}
@media only screen and (max-width:400px) {
.form-popup {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
.Cart-Container{

    width: 100% !important;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    
    }
    .cart-header{
    margin: auto;
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 50px !important;
    position: fixed;
    /* border: 1px solid; */
    }
    .cart-heading{
    font-size: 10px;
    font-weight: 700;
    color: #2F3841;
    }
    .cart-header .cart-title{
        display: none;
    }
    .Action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
    }
    .cart-items-container{
        height:80vh;
        padding: 1rem;
    }
    .cart-items-container hr{
        margin:0px !important;
    }
    .Cart-Items{
    margin: auto;
    width: 100% !important;
    height: 15% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .image-box{
    width: 25%;
    text-align: center;
    }
    .image-box img{
        height: 51px!important;
    }
    .about{
    height: 64% !important;
    }
    .title{
    padding-top: 5px;
    line-height: 5px;
    font-size: 14px !important;
    font-weight: 600;
    color: #202020;
    }

    .subtitle{
    /* line-height: 10px; */
    font-size: 10px !important;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
    }
}
.discount{
    border:1px solid whitesmoke;
    width: 20rem;
    text-align: center;
    background-color: #d31f33;
    color: white;
    border-radius: 1rem;
}